<h2 class="divider">{{ swiper_title }}</h2>
<div class="recent-post-item" style="height: auto;width: 100%">
  <div class="blog-slider swiper-container-fade swiper-container-horizontal" id="swiper_container">
    <div class="blog-slider__wrp swiper-wrapper" style="transition-duration: 0ms;">
      {% for item in swiper_list %}
      <div class="blog-slider__item swiper-slide pjax" style="width: 750px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
        <a class="blog-slider__img" onclick="pjax.loadUrl('{{ item.path | urlencode }}');" href="javascript:void(0);" rel="external nofollow noreferrer" alt="{{ item.title }}">
          <img width="48" height="48" data-src="{{ item.cover | urlencode }}" alt="" onerror="this.src={{ error_img | urlencode }}; this.onerror = null;"/>
        </a>
        <div class="blog-slider__content">
          {% if timemode === 'updated' %}
          <span class="blog-slider__code">{{ date(item.updated, 'YYYY-MM-DD') }}</span>
          {% else %}
          <span class="blog-slider__code">{{ date(item.date, 'YYYY-MM-DD') }}</span>
          {% endif %}
          <a class="blog-slider__title" onclick="pjax.loadUrl('{{ item.path | urlencode }}');" href="javascript:void(0);" rel="external nofollow noreferrer" alt="{{ item.title }}">{{ item.title }}</a>
          <div class="blog-slider__text">{{ item.description if item.description else default_descr }}</div>
          <a class="blog-slider__button" onclick="pjax.loadUrl('{{ item.path | urlencode }}');" href="javascript:void(0);" rel="external nofollow noreferrer" alt="详情">详情</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="blog-slider__pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
  </div>
</div>