<div class="article-swiper article-swiper--{{ style }}" id="{{ swiperId }}"
     data-swiper-config='{"effect":"{{ effect }}","style":"{{ style }}","autoplay":"{{ autoplay }}","mousewheel":{{ mousewheel }}}'
     {% if style === 'gallery' %}style="--as-ratio: {{ paddingBottom }}"{% endif %}>
  <div class="swiper-wrapper">
    {{ swiperItemData | safe }}
  </div>
  {% if style === 'gallery' %}
  <div class="swiper-button-prev as-nav"></div>
  <div class="swiper-button-next as-nav"></div>
  <div class="swiper-pagination as-dots"></div>
  {% else %}
  <div class="swiper-pagination as-dots as-dots--card"></div>
  {% endif %}
</div>
